name: CI
on: [push]
jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Notify slack about build
        if: success()
        id: slack
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: build
          status: STARTING
          color: warning
      - uses: actions/checkout@v2
      - name: Install Postgres
        run: sudo apt-get install -y postgresql postgresql-server-dev-all
      - name: Install SeqLib (cache)
        id: cache-install-seqlib
        uses: actions/cache@v3
        with:
          path: cache-seqlib
          key: install-seqlib-v3
      - name: Install SeqLib (build)
        if: steps.cache-install-seqlib.outputs.cache-hit != 'true'
        run: >
          git clone --recursive https://github.com/walaj/SeqLib.git &&
          cd SeqLib &&
          ./configure &&
          make CFLAGS='-g -Wall -O2 -fPIC' CXXFLAGS='-g -Wall -O2 -fPIC' &&
          make install &&
          mkdir -p ../cache-seqlib/lib ../cache-seqlib/include &&
          cp lib/* ../cache-seqlib/lib/ &&
          find ./{bwa,fermi-lite,htslib,SeqLib} -name "*.h" | xargs cp --parents -t ../cache-seqlib/include/
      - name: Install SeqLib (install)
        run: sudo cp -r cache-seqlib/* /usr/local/
      - name: Build Postgres extension
        run: mkdir build && cd build && cmake .. && make
      - name: Notify slack about build success
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: build
          status: SUCCESS
          color: good
      - name: Notify slack about build fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: build
          status: FAILED
          color: danger
